<div id="texteCentrer">
  <h4 class="titleAboutUs">A propos de nous</h4>
  <p>Nous sommes 5 étudiants en master MIAGE : <br>
    BERREKAM Romaïssa, GRINE Omayma, RODRIGUES Enzo, HATTAB Wassan et BARACHET Marius. <br>
    Dans le cadre de notre projet Application Cloud, nous avons créé ce site permettant d'en apprendre d'avantage
    sur les films du studio d'animation Japonais Ghibli.
    <br>
    <br>
  </p>
  <h4 class="titleAboutUs">Remerciements</h4>
  <p>
    Nous remercions le développeur James ANAIPAKOS (<a href="https://github.com/janaipakos">janaipakos</a>) créateur pour cette <a href="https://ghibliapi.vercel.app/">API</a>. <br>
    Nous remercions aussi <a href="https://github.com/froissant">Anthony FROISSANT</a> pour son aide, son encadrement et son enseignement !<br>
  </p>
</div>
